<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dota Crack</title>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" media="all">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script> 
	hero = "{{hero_name}}"
	var display_win = function(won){
		if(won){
			alert("you're right");
		} else {
			alert("Wrong.  The hero was " + hero);
		}
	}
	$(document).ready(function(){
		$("#go_btn").click(
			function(){
				if($("#player").val() == hero){
					display_win(true);
				} else{
					display_win(false);
				}

			});
	});
	</script>
</head>
<body>
	<div id="dota_main">
		{% autoescape false %}
		{{hero_info}}
		{% endautoescape %}
	</div>


<h1>
WHAT DOTA HERO IS THIS?</h1>
	<div id = "input_stuff" class="form-inline">
	  			<input type="text" id="player" name="player_name" autofocus class="form-control" placeholder="dota hero name">
	 			<button id="go_btn" class="btn btn-primary btn-large">GO</button>
	 		<br><br>
	 		<button id="give_btn" class="btn btn-default">give up</button>
 		</div>
</body>
</html>